li {
    font-size: large;
}

#regform {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    overflow-y: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.errorbox {
    border-color: #cc0033;
    background-color: #fce4e4;
}

.errortext {
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  text-shadow: 1px 1px rgba(250,250,250,.3);
}

#container {
    height: 100%;
}

#footer {
    margin-bottom: 0px;
}

@media (min-width: 600px){
    #regform {
        margin-top: 100px;
    }
}

@media (min-width: 1700px){
    #regform {
        margin-top: 150px;
    }
}