html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#table {
    overflow-y: auto;
    height: 400px;
    margin-top: 70px;
    margin-bottom: 100px;
}

@media (min-width: 600px){
    #table {
        margin-top: 100px;
    }
}

@media (min-width: 1700px){
    #table {
        margin-top: 150px;
    }
}